body {
  margin: 0;
  color: #fff;
}

#main-container {
  /* z-index: -1; */
  background-color: #000;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 70vw auto 20vw;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}

#main-nav {
  grid-area: header;
  display: flex;
  flex-direction: column;
  width: inherit;
  background-color: rgb(0, 109, 117);
}

#hamburger-menu {
  align-self: flex-end;
  margin: auto 1% auto 0%;
}

@keyframes showMenu {
  from {
    height: 0px;
  }
  to {
    height: 140px;
  }
}

@keyframes hideMenu {
  from {
    height: 140px;
  }
  to {
    height: 0px;
  }
}

#hamburger-menu-list {
  grid-column: 3 / 3;
  z-index: 5;
  top: 50px;
  right: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  height: 140px;
  width: 20vw;
  background-color: rgba(0, 109, 117, 0.8);
  animation-duration:  500ms;
  animation-timing-function: linear;
}

.main-nav-link {
  text-align: center;
  height: inherit;
  padding: 6% 3% 3% 3%;
  overflow: hidden;
}

.main-nav-link:hover {
  background-color: rgba(200, 200, 200, 0.4);
}

#main-content {
  grid-area: main;
  grid-column: 1 / 4;
  padding-left: 5%;
  padding-right: 5%;
}

.player-lists {
  border: #fff dotted 2px;
  margin-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.player-lists h2 {
  margin-top: 2%;
}
.player-lists ul {
  padding: 0%;
}

.player-lists li {
  display: block;
  padding: 3%;
}

.drag-start {
  border: rgb(234, 114, 0) dotted 1px;
}

.drag-over {
  background-color: rgba(234, 114, 0, 0.2);
}
